doctype
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, user-scaled=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/main.css')
    body
        .container
            .profile-wrap
                .profile
                    if user && user.id
                        .user-name= '안녕하세요' + user.nick + '님'
                        .half
                            div 팔로잉
                            .count.following-count= user.Followings && user.Followings.length || 0
                        .half
                            div 팔로워
                            .count.follower-count= user.Followers && user.Followers.length || 0
                        input#my-id(type='hidden' value=user.id)
                        a#my-profile.btn(href='/profile') 내 프로필
                        a#logout.btn(href='/auth/logout') 로그아웃
                    else
                        form#login-form(action='/auth/login' method='post')
                            .input-group
                                label(for='email') 이메일
                                input#email(type='email' name='email' required autofocus)
                            .input-group
                                label(for='password') 비밀번호
                                input#password(type='password' name='password' required)
                            if loginError
                                .error-message= loginError
                            a#join.btn(href='/join') 회원가입
                            button#login.btn(type='submit') 로그인
                            a#kakao.btn(href='/auth/kakao') 카카오톡
                footer
                    | Made by&nbsp;
                    a(href='https://www.zerocho.com' target='_blank') Zerocho
            block content    