extends layout

block content
    .timeline
        if user
            div
                form#twit-form(action='/post' method='post' enctype='multipart/form-data')
                    .input-group
                        textarea#twit(name='content' maxlength=140)
                    .img-preview
                        img#img-preview(src='' style='display: none;' width='250' alt='미리보기')
                        input#img-url(type='hidden' name='url')
                    div
                        label#img-label(for='img') 사진 업로드 
                        input#img(type='file' accept='image/*')
                        button#twit-btn(type='submit') 쨱짹
        .twits
            form#hashtag-form(action='/post/hashtag')
                input(type='text' name='hashtag' placeholder='태그 검색')
                button.btn 검색
            for twit in twits
                .twit
                    input.twit-user-id(type='hidden' value=twit.user.id)
                    input.twit-id(type='hidden' value=twit.id)
                    .twit-author= twit.user.nick
                    -const follow = user & user.Followings.map(f => f.id).includes(twit.user.id)
                    if user && user.id !== twit.user.id && !follow
                        button.twit-follow 팔로우하기
                    if user && user.id === twit.user.id
                        button.twit-delete 삭제
                    .twit-content= twit.content
                    if twit.img
                        .twit-img
                            img(src=twit.img alt='섬네일')
    script.
        if(document.getElementById('img')) {
            document.getElementById('img').addEventListener('change', function(e) {
                var formData = new FormData();
                console.log(this, this.file);
                formData.append('img', this.files[0]);
                var xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    if( xhr.status === 200) {
                        var url = JSON.parse(xhr.responseText).url;
                        document.getElementById('img-url').value = url;
                        document.getElementById('img-preview').src = url;
                        document.getElementById('img-preview').style.display = 'inline';
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('POST', '/post/img');
                xhr.send(formData);
            });
        }
        [].forEach.call(document.querySelectorAll('.twit-follow'), function(tag) {
            tag.addEventListener('click', function() {
                var isLoggedIn = document.querySelector('#my-id');
                if( isLoggedIn) {
                    var userId = tag.parentNode.querySelector('.twit-user-id').value;
                    var myId = isLoggedIn.value;
                    if( userId != myId) {
                        if( confirm('팔로잉하시겠습니까?')) {
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function() {
                                if( xhr.status === 200) {
                                    location.reload();
                                } else {
                                    console.error(xhr.responseText);
                                }
                            };
                            xhr.open('POST', '/user/' + userId + '/follow');
                            xhr.send();
                        }
                    }
                }
            });
        });

        document.querySelectorAll('.twit-delete').forEach( function(tag) {
            tag.addEventListener('click', function() {
                var twitId = tag.parentNode.querySelector('.twit-id').value;
                if( confirm('삭제하시겠습니까?')) {
                    var xhr = new XMLHttpRequest();
                    xhr.onload = function() {
                        if( xhr.status === 200) {
                            location.reload();
                        } else {
                            console.error(xhr.responseText);
                        }
                    };
                    xhr.open('DELETE', '/post/' + twitId);
                    xhr.send();
                }
            });
        });